.navbar{
    width: 100vw;
    height: 10vh;
    padding: 20px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.navbar>p{
    font-size: 1.5rem;
}